<%- include ("./partials/navbar.ejs") %>
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<h2>Current Active Sessions:</h2>
<% sessions.forEach((session)=>{ %>
    <br><p class="lead mb-3">SessionID: <%= session.key %></p> 
    <p class="lead mb-3">UserID: <%= session.id %></p>
    <a href="/destroy/<%= session.key %>">Revoke Session</a><br>
<% }) %>
<br>
<a href="/auth/logout" class="btn btn-secondary">Logout</a>